*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #182d3d;
}
header{
    padding: 10px 0;
    background-color: #132431;
}
header img{
    height: 50px;
    margin-left: 10%;
}
main{
    /* border: 2px solid green; */
    width: 60%;
    margin: 100px auto 0;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    width: calc(100% / 3);
    /* border: 1px solid red; */
    padding: 50px;
    list-style: none;
}
.card{
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    padding: 50px;
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
}
.img-album img{
    width: 100%;
}
.album-info{
    text-align: center;
    padding-top: 20px;
    color: #fff;
    line-height: 35px;
}